html,
body,
#app {
  height: 100%;
  padding: 0;
  margin: 0;
  touch-action: manipulation;
}

html.dark {
  background: #18181b;
  color: white;
}

.text-primary,[text-primary]{
  color: #409EFF !important;
}
.bg-primary,[bg-primary]{
  background-color: #409EFF !important;
}
.text-blue5,.text-blue-5,[text-blue-5],[text-blue5]{
  color: #409EFF !important;
}

.bg-blue5,.bg-blue-5,[bg-blue-5],[bg-blue5]{
  background-color: #409EFF !important;
}
.bg-blue4,.bg-blue-4,[bg-blue-4],[bg-blue4]{
  background-color: #60a5fa !important;
}
.bg-yellow5,.bg-yellow-5,[bg-yellow-5],[bg-yellow5]{
  background-color: #eab308 !important;
}

.b-blue5,.b-blue-5,[b-blue-5],[b-blue5]{
  border-color: #409EFF !important;
}